
.edit-component{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}



.fieldset_edit {
    display: flex;
    width: 480px;
    padding: 16px 0px;
    border-radius: 5px;
    flex-direction: column;
    row-gap: 10px;
  }

.image-file{
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 5px 0px;
}

.image-file__holder{

    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px #989898 solid;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.image-selected-edit{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.editorForm{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.editorForm h2{
    color: rgb(0, 0, 0);
    font-size: 35px;
}

.editorForm input{
   padding: 10px;
   background-color: #f3f3f3;
   border: 1px solid #ccc;
}

.edit-action-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.edit-action-div button{
    width: 200px;
    height:  auto;
    background-color: #273A5C;
    color: #fff;
    margin-top: 2rem;
    padding: 13px 1.6rem;
    border-radius: 20px;
    transition: all 250ms ease-in-out;

}

.edit-action-div .cancel-edit{
  
    background-color: #743943;

}

.edit-action-div button:hover{
    background-color: #fff;
    border: 1px solid #273A5C;
    color: #273A5C;
}

.edit-action-div .cancel-edit:hover{
    background-color: #fff;
    border: 1px solid #743943;
    color: #743943;
}






