.sidebar-wrapper{
    height: 100%;
    width: 279px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    transition: all 700ms ease-in-out;
    /* border-right: 1px solid #f1f1f1; */
    overflow: hidden;
    /* padding: 0 35px; */
    background-color: #273A5C;
}

.sidebar-wrapper_slide-out{
    width: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 700ms ease-in-out;
    text-decoration: none;
    text-transform: none;
    overflow: hidden;
    background-color: #273A5C;

    .school-name, span{
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
    }

     .logo{
        height: 56px;
         display: flex; 
         align-items: center;
         justify-content: center;
         flex-direction: column;
         border-bottom: 1px solid #f1f1f1;
       }

}
.sidebar-wrapper .logo{
    height: 56px;
     display: flex; 
     align-items: center;
     justify-content: center;
     flex-direction: column;
     border-bottom: 1px solid #f1f1f1;
   }


.sidebar-wrapper .logo a{
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.sidebar-wrapper .school-name  span{
    font-weight: 400;
    text-transform: uppercase;
    /* color: #273A5C; */
}
.sidebar-wrapper .logo i{
    margin-right: 8px;
}

.sidebar-wrapper Link{
    background-color: #a0bd94;
}

.sidebar_links .side-link{
    height: 32px;
    margin-right: 6px;
}

.sidebar_links .side-link img{
    width: 24px; 
    height: 24px; 
}

.sidebar_links .side-link h6{

    margin: 8px 20px;
    font-weight: 400;
    color: white;
}

.logout{
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding: 8px 0;
}
.logout .side-link_logout{
    display: flex;
    height: 32px;
    margin-right: 6px;
}

.logout .side-link_logout img{
    width: 24px;  
    height: 24px;
}

.logout .side-link_logout h6{

    margin: 8px 20px;
    font-weight: 400;
    color: white;
}


.logout .side-link{
    background-color: #a0bd94;
    height: 32px;
    margin-right: 6px;
}
.sidebar_links {padding-left: 24px;}
.sidebar_links a {
    display: flex;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 2rem;
    font-weight: 400;
    position: relative;
}
.sidebar_links a:hover, .sidebar_links a i:hover{
    color: blue;

}
.sidebar_links a i:first-child{
    margin-right: 1rem;
    font-size: 16px;
}
.sidebar_links a .lni-chevron-right{
    position: absolute;
    right: 0;
}
.active_link{color: blue;}

.links-subtitle{
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 2rem;
    padding-bottom: 15px;
    display: block;
    border-bottom: 1px solid #f1f1f1;
    text-wrap: nowrap;
}
.blog-links a{
    margin-left: 2rem;
}

.logout{
    padding-left: 24px;
    text-decoration: none;
}

.logout a{
    
    text-decoration: none;
    color: white;
}
