.sidebar-wrapper{
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 2s;
    border-right: 1px solid #f1f1f1;
    overflow: hidden;
    padding: 0 35px;
    background-color:  #273A5C;
    
}
.sidebar-wrapper .logo{margin-top: 40px; display: flex; align-items: center;}
.sidebar-wrapper .logo a{
    font-size: 22px;
    text-align: center;
    color: #222;
}
.sidebar-wrapper .logo a span{
    font-weight: 300;
}
.sidebar-wrapper .logo i{
    margin-right: 8px;
}
.sidebar_links {margin-top: 6rem;}
.sidebar_links a {
    display: flex;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    align-items: center;
    font-size: 14px;
    color: #fff;
    margin-bottom: 2rem;
    font-weight: 400;
    position: relative;
}
.sidebar_links a:hover, .sidebar_links a i:hover{
    color: blue;

}
.sidebar_links a i:first-child{
    margin-right: 1rem;
    font-size: 16px;
}
.sidebar_links a .lni-chevron-right{
    position: absolute;
    right: 0;
}
.active_link{color: blue;}

.links-subtitle{
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 2rem;
    padding-bottom: 15px;
    display: block;
    border-bottom: 1px solid #f1f1f1;
    text-wrap: nowrap;
}
.blog-links a{
    margin-left: 2rem;
}
